azure-storage-blob==12.31.0
fastapi==0.142.4
joblib==1.6.0
nltk==3.10.3
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.6.1
scipy==1.14.1
sentence-transformers==3.4.1
torch==2.2.2
uvicorn[standard]==0.54.0
